# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
EFI/OC/Tools/ListPartitions.efi
EFI/.DS_Store
EFI/BOOT/.contentFlavour
EFI/BOOT/.contentVisibility
EFI/BOOT/BOOTx64.efi
EFI/Dell/bios/recovery/BIOS_CUR.rcv
EFI/Dell/logs/diags_current.xml
EFI/Dell/logs/diags_previous.xml
EFI/Microsoft/Boot/BCD
EFI/Microsoft/Boot/BCD.LOG
EFI/Microsoft/Boot/BCD.LOG1
EFI/Microsoft/Boot/BCD.LOG2
EFI/Microsoft/Boot/bg-BG/bootmgfw.efi.mui
EFI/Microsoft/Boot/bg-BG/bootmgr.efi.mui
EFI/Microsoft/Boot/boot.stl
EFI/Microsoft/Boot/bootmgfw.efi
EFI/Microsoft/Boot/bootmgr.efi
EFI/Microsoft/Boot/BOOTSTAT.DAT
EFI/Microsoft/Boot/CIPolicies/Active/{5DAC656C-21AD-4A02-AB49-649917162E70}.cip
EFI/Microsoft/Boot/CIPolicies/Active/{82443e1e-8a39-4b4a-96a8-f40ddc00b9f3}.cip
EFI/Microsoft/Boot/CIPolicies/Active/{CDD5CB55-DB68-4D71-AA38-3DF2B6473A52}.cip
EFI/Microsoft/Boot/cs-CZ/bootmgfw.efi.mui
EFI/Microsoft/Boot/cs-CZ/bootmgr.efi.mui
EFI/Microsoft/Boot/cs-CZ/memtest.efi.mui
EFI/Microsoft/Boot/da-DK/bootmgfw.efi.mui
EFI/Microsoft/Boot/da-DK/bootmgr.efi.mui
EFI/Microsoft/Boot/da-DK/memtest.efi.mui
EFI/Microsoft/Boot/de-DE/bootmgfw.efi.mui
EFI/Microsoft/Boot/de-DE/bootmgr.efi.mui
EFI/Microsoft/Boot/de-DE/memtest.efi.mui
EFI/Microsoft/Boot/el-GR/bootmgfw.efi.mui
EFI/Microsoft/Boot/el-GR/bootmgr.efi.mui
EFI/Microsoft/Boot/el-GR/memtest.efi.mui
EFI/Microsoft/Boot/en-GB/bootmgfw.efi.mui
EFI/Microsoft/Boot/en-GB/bootmgr.efi.mui
EFI/Microsoft/Boot/en-US/bootmgfw.efi.mui
EFI/Microsoft/Boot/en-US/bootmgr.efi.mui
EFI/Microsoft/Boot/en-US/memtest.efi.mui
EFI/Microsoft/Boot/es-ES/bootmgfw.efi.mui
EFI/Microsoft/Boot/es-ES/bootmgr.efi.mui
EFI/Microsoft/Boot/es-ES/memtest.efi.mui
EFI/Microsoft/Boot/es-MX/bootmgfw.efi.mui
EFI/Microsoft/Boot/es-MX/bootmgr.efi.mui
EFI/Microsoft/Boot/et-EE/bootmgfw.efi.mui
EFI/Microsoft/Boot/et-EE/bootmgr.efi.mui
EFI/Microsoft/Boot/fi-FI/bootmgfw.efi.mui
EFI/Microsoft/Boot/fi-FI/bootmgr.efi.mui
EFI/Microsoft/Boot/fi-FI/memtest.efi.mui
EFI/Microsoft/Boot/Fonts/chs_boot.ttf
EFI/Microsoft/Boot/Fonts/cht_boot.ttf
EFI/Microsoft/Boot/Fonts/jpn_boot.ttf
EFI/Microsoft/Boot/Fonts/kor_boot.ttf
EFI/Microsoft/Boot/Fonts/malgun_boot.ttf
EFI/Microsoft/Boot/Fonts/malgunn_boot.ttf
EFI/Microsoft/Boot/Fonts/meiryo_boot.ttf
EFI/Microsoft/Boot/Fonts/meiryon_boot.ttf
EFI/Microsoft/Boot/Fonts/msjh_boot.ttf
EFI/Microsoft/Boot/Fonts/msjhn_boot.ttf
EFI/Microsoft/Boot/Fonts/msyh_boot.ttf
EFI/Microsoft/Boot/Fonts/msyhn_boot.ttf
EFI/Microsoft/Boot/Fonts/segmono_boot.ttf
EFI/Microsoft/Boot/Fonts/segoe_slboot.ttf
EFI/Microsoft/Boot/Fonts/segoen_slboot.ttf
EFI/Microsoft/Boot/Fonts/wgl4_boot.ttf
EFI/Microsoft/Boot/fr-CA/bootmgfw.efi.mui
EFI/Microsoft/Boot/fr-CA/bootmgr.efi.mui
EFI/Microsoft/Boot/fr-FR/bootmgfw.efi.mui
EFI/Microsoft/Boot/fr-FR/bootmgr.efi.mui
EFI/Microsoft/Boot/fr-FR/memtest.efi.mui
EFI/Microsoft/Boot/hr-HR/bootmgfw.efi.mui
EFI/Microsoft/Boot/hr-HR/bootmgr.efi.mui
EFI/Microsoft/Boot/hu-HU/bootmgfw.efi.mui
EFI/Microsoft/Boot/hu-HU/bootmgr.efi.mui
EFI/Microsoft/Boot/hu-HU/memtest.efi.mui
EFI/Microsoft/Boot/it-IT/bootmgfw.efi.mui
EFI/Microsoft/Boot/it-IT/bootmgr.efi.mui
EFI/Microsoft/Boot/it-IT/memtest.efi.mui
EFI/Microsoft/Boot/ja-JP/bootmgfw.efi.mui
EFI/Microsoft/Boot/ja-JP/bootmgr.efi.mui
EFI/Microsoft/Boot/ja-JP/memtest.efi.mui
EFI/Microsoft/Boot/ko-KR/bootmgfw.efi.mui
EFI/Microsoft/Boot/ko-KR/bootmgr.efi.mui
EFI/Microsoft/Boot/ko-KR/memtest.efi.mui
EFI/Microsoft/Boot/lt-LT/bootmgfw.efi.mui
EFI/Microsoft/Boot/lt-LT/bootmgr.efi.mui
EFI/Microsoft/Boot/lv-LV/bootmgfw.efi.mui
EFI/Microsoft/Boot/lv-LV/bootmgr.efi.mui
EFI/Microsoft/Boot/memtest.efi
EFI/Microsoft/Boot/nb-NO/bootmgfw.efi.mui
EFI/Microsoft/Boot/nb-NO/bootmgr.efi.mui
EFI/Microsoft/Boot/nb-NO/memtest.efi.mui
EFI/Microsoft/Boot/nl-NL/bootmgfw.efi.mui
EFI/Microsoft/Boot/nl-NL/bootmgr.efi.mui
EFI/Microsoft/Boot/nl-NL/memtest.efi.mui
EFI/Microsoft/Boot/pl-PL/bootmgfw.efi.mui
EFI/Microsoft/Boot/pl-PL/bootmgr.efi.mui
EFI/Microsoft/Boot/pl-PL/memtest.efi.mui
EFI/Microsoft/Boot/pt-BR/bootmgfw.efi.mui
EFI/Microsoft/Boot/pt-BR/bootmgr.efi.mui
EFI/Microsoft/Boot/pt-BR/memtest.efi.mui
EFI/Microsoft/Boot/pt-PT/bootmgfw.efi.mui
EFI/Microsoft/Boot/pt-PT/bootmgr.efi.mui
EFI/Microsoft/Boot/pt-PT/memtest.efi.mui
EFI/Microsoft/Boot/qps-ploc/memtest.efi.mui
EFI/Microsoft/Boot/Resources/en-US/bootres.dll.mui
EFI/Microsoft/Boot/Resources/zh-CN/bootres.dll.mui
EFI/Microsoft/Boot/ro-RO/bootmgfw.efi.mui
EFI/Microsoft/Boot/ro-RO/bootmgr.efi.mui
EFI/Microsoft/Boot/ru-RU/bootmgfw.efi.mui
EFI/Microsoft/Boot/ru-RU/bootmgr.efi.mui
EFI/Microsoft/Boot/ru-RU/memtest.efi.mui
EFI/Microsoft/Boot/sk-SK/bootmgfw.efi.mui
EFI/Microsoft/Boot/sk-SK/bootmgr.efi.mui
EFI/Microsoft/Boot/sl-SI/bootmgfw.efi.mui
EFI/Microsoft/Boot/sl-SI/bootmgr.efi.mui
EFI/Microsoft/Boot/sr-Latn-RS/bootmgfw.efi.mui
EFI/Microsoft/Boot/sr-Latn-RS/bootmgr.efi.mui
EFI/Microsoft/Boot/sv-SE/bootmgfw.efi.mui
EFI/Microsoft/Boot/sv-SE/bootmgr.efi.mui
EFI/Microsoft/Boot/sv-SE/memtest.efi.mui
EFI/Microsoft/Boot/tr-TR/bootmgfw.efi.mui
EFI/Microsoft/Boot/tr-TR/bootmgr.efi.mui
EFI/Microsoft/Boot/tr-TR/memtest.efi.mui
EFI/Microsoft/Boot/uk-UA/bootmgfw.efi.mui
EFI/Microsoft/Boot/uk-UA/bootmgr.efi.mui
EFI/Microsoft/Boot/winsipolicy.p7b
EFI/Microsoft/Boot/zh-CN/bootmgfw.efi.mui
EFI/Microsoft/Boot/zh-CN/bootmgr.efi.mui
EFI/Microsoft/Boot/zh-CN/memtest.efi.mui
EFI/Microsoft/Boot/zh-TW/bootmgfw.efi.mui
EFI/Microsoft/Boot/zh-TW/bootmgr.efi.mui
EFI/Microsoft/Boot/zh-TW/memtest.efi.mui
EFI/Microsoft/Recovery/BCD
EFI/Microsoft/Recovery/BCD.LOG
EFI/Microsoft/Recovery/BCD.LOG1
EFI/Microsoft/Recovery/BCD.LOG2
EFI/OC/.DS_Store
EFI/OC/ACPI/SSDT-AC.aml
EFI/OC/ACPI/SSDT-DMAC.aml
EFI/OC/ACPI/SSDT-EC-USBX-LAPTOP.aml
EFI/OC/ACPI/SSDT-LAN.aml
EFI/OC/ACPI/SSDT-LAN.dsl
EFI/OC/ACPI/SSDT-MCHC.aml
EFI/OC/ACPI/SSDT-MEM2.aml
EFI/OC/ACPI/SSDT-NoHybGfx.aml
EFI/OC/ACPI/SSDT-OCI2C1-TP01.aml
EFI/OC/ACPI/SSDT-OCWork-dell.aml
EFI/OC/ACPI/SSDT-PLUG.aml
EFI/OC/ACPI/SSDT-PNLF-CFL.aml
EFI/OC/ACPI/SSDT-PPMC.aml
EFI/OC/ACPI/SSDT-PTSWAKTTS.aml
EFI/OC/ACPI/ssdt-rmne.aml
EFI/OC/ACPI/SSDT-RTC.aml
EFI/OC/ACPI/SSDT-SRAM.aml
EFI/OC/ACPI/SSDT-TB3_JHL7540TitanRidge.aml
EFI/OC/ACPI/SSDT-TB3HotPlug.aml
EFI/OC/ACPI/SSDT-TERM.aml
EFI/OC/ACPI/SSDT-XOSI.aml
EFI/OC/ACPI/SSDT-XSPI.aml
EFI/OC/config.plist
EFI/OC/config_副本.plist
EFI/OC/config_副本2.plist
EFI/OC/Drivers/ArpDxe.efi
EFI/OC/Drivers/AudioDxe.efi
EFI/OC/Drivers/BiosVideo.efi
EFI/OC/Drivers/CrScreenshotDxe.efi
EFI/OC/Drivers/Dhcp4Dxe.efi
EFI/OC/Drivers/DnsDxe.efi
EFI/OC/Drivers/DpcDxe.efi
EFI/OC/Drivers/Ext4Dxe.efi
EFI/OC/Drivers/FirmwareSettingsEntry.efi
EFI/OC/Drivers/HiiDatabase.efi
EFI/OC/Drivers/HttpBootDxe.efi
EFI/OC/Drivers/HttpDxe.efi
EFI/OC/Drivers/HttpUtilitiesDxe.efi
EFI/OC/Drivers/Ip4Dxe.efi
EFI/OC/Drivers/MnpDxe.efi
EFI/OC/Drivers/NvmExpressDxe.efi
EFI/OC/Drivers/OpenCanopy.efi
EFI/OC/Drivers/OpenHfsPlus.efi
EFI/OC/Drivers/OpenLegacyBoot.efi
EFI/OC/Drivers/OpenLinuxBoot.efi
EFI/OC/Drivers/OpenNtfsDxe.efi
EFI/OC/Drivers/OpenPartitionDxe.efi
EFI/OC/Drivers/OpenRuntime.efi
EFI/OC/Drivers/OpenUsbKbDxe.efi
EFI/OC/Drivers/OpenVariableRuntimeDxe.efi
EFI/OC/Drivers/Ps2KeyboardDxe.efi
EFI/OC/Drivers/Ps2MouseDxe.efi
EFI/OC/Drivers/ResetNvramEntry.efi
EFI/OC/Drivers/SnpDxe.efi
EFI/OC/Drivers/TcpDxe.efi
EFI/OC/Drivers/ToggleSipEntry.efi
EFI/OC/Drivers/Udp4Dxe.efi
EFI/OC/Drivers/UsbMouseDxe.efi
EFI/OC/Drivers/XhciDxe.efi
EFI/OC/Kexts/.DS_Store
EFI/OC/Kexts/AGPMInjector.kext/Contents/Info.plist
EFI/OC/Kexts/AirportItlwm.kext/Contents/Info.plist
EFI/OC/Kexts/AirportItlwm.kext/Contents/MacOS/AirportItlwm
EFI/OC/Kexts/AirportItlwm14.4.kext/Contents/Info.plist
EFI/OC/Kexts/AirportItlwm14.4.kext/Contents/MacOS/AirportItlwm
EFI/OC/Kexts/AirportItlwm_Sonoma.kext/Contents/Info.plist
EFI/OC/Kexts/AirportItlwm_Sonoma.kext/Contents/MacOS/AirportItlwm
EFI/OC/Kexts/alc-verb
EFI/OC/Kexts/AppleALC.kext/Contents/Info.plist
EFI/OC/Kexts/AppleALC.kext/Contents/MacOS/AppleALC
EFI/OC/Kexts/AppleALCU.kext/Contents/Info.plist
EFI/OC/Kexts/AppleALCU.kext/Contents/MacOS/AppleALCU
EFI/OC/Kexts/AppleRTL815XEthernet110.kext/Contents/_CodeSignature/CodeResources
EFI/OC/Kexts/AppleRTL815XEthernet110.kext/Contents/CodeResources
EFI/OC/Kexts/AppleRTL815XEthernet110.kext/Contents/Info.plist
EFI/OC/Kexts/AppleRTL815XEthernet110.kext/Contents/MacOS/AppleRTL815XEthernet110
EFI/OC/Kexts/AppleRTL815XEthernet110.kext/Contents/Resources/English.lproj/Localizable.strings
EFI/OC/Kexts/BlueToolFixup.kext/Contents/Info.plist
EFI/OC/Kexts/BlueToolFixup.kext/Contents/MacOS/BlueToolFixup
EFI/OC/Kexts/BrightnessKeys.kext/Contents/Info.plist
EFI/OC/Kexts/BrightnessKeys.kext/Contents/MacOS/BrightnessKeys
EFI/OC/Kexts/CPUFriend.kext/Contents/Info.plist
EFI/OC/Kexts/CPUFriend.kext/Contents/MacOS/CPUFriend
EFI/OC/Kexts/CPUFriendDataProvider.kext/Contents/Info.plist
EFI/OC/Kexts/DebugEnhancer.kext/Contents/Info.plist
EFI/OC/Kexts/DebugEnhancer.kext/Contents/MacOS/DebugEnhancer
EFI/OC/Kexts/HibernationFixup.kext/Contents/Info.plist
EFI/OC/Kexts/HibernationFixup.kext/Contents/MacOS/HibernationFixup
EFI/OC/Kexts/IntelBluetoothFirmware.kext/Contents/Info.plist
EFI/OC/Kexts/IntelBluetoothFirmware.kext/Contents/MacOS/IntelBluetoothFirmware
EFI/OC/Kexts/IntelBluetoothInjector.kext/Contents/Info.plist
EFI/OC/Kexts/IntelBTPatcher.kext/Contents/Info.plist
EFI/OC/Kexts/IntelBTPatcher.kext/Contents/MacOS/IntelBTPatcher
EFI/OC/Kexts/Lilu.kext/Contents/Info.plist
EFI/OC/Kexts/Lilu.kext/Contents/MacOS/Lilu
EFI/OC/Kexts/NoTouchID.kext/Contents/Info.plist
EFI/OC/Kexts/NoTouchID.kext/Contents/MacOS/NoTouchID
EFI/OC/Kexts/NullEthernet.kext/Contents/Info.plist
EFI/OC/Kexts/NullEthernet.kext/Contents/MacOS/NullEthernet
EFI/OC/Kexts/NVMeFix.kext/Contents/Info.plist
EFI/OC/Kexts/NVMeFix.kext/Contents/MacOS/NVMeFix
EFI/OC/Kexts/RestrictEvents.kext/Contents/Info.plist
EFI/OC/Kexts/RestrictEvents.kext/Contents/MacOS/RestrictEvents
EFI/OC/Kexts/Sinetek-rtsx.kext/Contents/_CodeSignature/CodeResources
EFI/OC/Kexts/Sinetek-rtsx.kext/Contents/Info.plist
EFI/OC/Kexts/Sinetek-rtsx.kext/Contents/MacOS/Sinetek-rtsx
EFI/OC/Kexts/SMCBatteryManager.kext/Contents/Info.plist
EFI/OC/Kexts/SMCBatteryManager.kext/Contents/MacOS/SMCBatteryManager
EFI/OC/Kexts/SMCBatteryManager.kext/Contents/Resources/SSDT-BATC.dsl
EFI/OC/Kexts/SMCDellSensors.kext/Contents/Info.plist
EFI/OC/Kexts/SMCDellSensors.kext/Contents/MacOS/SMCDellSensors
EFI/OC/Kexts/SMCLightSensor.kext/Contents/Info.plist
EFI/OC/Kexts/SMCLightSensor.kext/Contents/MacOS/SMCLightSensor
EFI/OC/Kexts/SMCProcessor.kext/Contents/Info.plist
EFI/OC/Kexts/SMCProcessor.kext/Contents/MacOS/SMCProcessor
EFI/OC/Kexts/SMCSuperIO.kext/Contents/Info.plist
EFI/OC/Kexts/SMCSuperIO.kext/Contents/MacOS/SMCSuperIO
EFI/OC/Kexts/USBMap.kext/Contents/Info.plist
EFI/OC/Kexts/VirtualSMC.kext/Contents/Info.plist
EFI/OC/Kexts/VirtualSMC.kext/Contents/MacOS/VirtualSMC
EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/AppleSmc.h
EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/AppleSmcBridge.hpp
EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/kern_keyvalue.hpp
EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/kern_smcinfo.hpp
EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/kern_value.hpp
EFI/OC/Kexts/VirtualSMC.kext/Contents/Resources/VirtualSMCSDK/kern_vsmcapi.hpp
EFI/OC/Kexts/VoltageShift.kext/Contents/_CodeSignature/CodeResources
EFI/OC/Kexts/VoltageShift.kext/Contents/Info.plist
EFI/OC/Kexts/VoltageShift.kext/Contents/MacOS/VoltageShift
EFI/OC/Kexts/VoltageShift.kext/Contents/Resources/en.lproj/InfoPlist.strings
EFI/OC/Kexts/VoodooI2C.kext/Contents/Info.plist
EFI/OC/Kexts/VoodooI2C.kext/Contents/MacOS/VoodooI2C
EFI/OC/Kexts/VoodooI2C.kext/Contents/PlugIns/VoodooGPIO.kext/Contents/Info.plist
EFI/OC/Kexts/VoodooI2C.kext/Contents/PlugIns/VoodooGPIO.kext/Contents/MacOS/VoodooGPIO
EFI/OC/Kexts/VoodooI2C.kext/Contents/PlugIns/VoodooI2CServices.kext/Contents/Info.plist
EFI/OC/Kexts/VoodooI2C.kext/Contents/PlugIns/VoodooI2CServices.kext/Contents/MacOS/VoodooI2CServices
EFI/OC/Kexts/VoodooI2C.kext/Contents/PlugIns/VoodooInput.kext/Contents/_CodeSignature/CodeResources
EFI/OC/Kexts/VoodooI2C.kext/Contents/PlugIns/VoodooInput.kext/Contents/Info.plist
EFI/OC/Kexts/VoodooI2C.kext/Contents/PlugIns/VoodooInput.kext/Contents/MacOS/VoodooInput
EFI/OC/Kexts/VoodooI2CHID.kext/Contents/Info.plist
EFI/OC/Kexts/VoodooI2CHID.kext/Contents/MacOS/VoodooI2CHID
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/Info.plist
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/MacOS/VoodooPS2Controller
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooInput.kext/Contents/_CodeSignature/CodeResources
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooInput.kext/Contents/Info.plist
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooInput.kext/Contents/MacOS/VoodooInput
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooInput.kext/Contents/Resources/VoodooInputMultitouch/MultitouchHelpers.h
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooInput.kext/Contents/Resources/VoodooInputMultitouch/VoodooInputEvent.h
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooInput.kext/Contents/Resources/VoodooInputMultitouch/VoodooInputMessages.h
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooInput.kext/Contents/Resources/VoodooInputMultitouch/VoodooInputTransducer.h
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Keyboard.kext/Contents/Info.plist
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Keyboard.kext/Contents/MacOS/VoodooPS2Keyboard
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Mouse.kext/Contents/Info.plist
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Mouse.kext/Contents/MacOS/VoodooPS2Mouse
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Trackpad.kext/Contents/Info.plist
EFI/OC/Kexts/VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Trackpad.kext/Contents/MacOS/VoodooPS2Trackpad
EFI/OC/Kexts/WhateverGreen.kext/Contents/Info.plist
EFI/OC/Kexts/WhateverGreen.kext/Contents/MacOS/WhateverGreen
EFI/OC/oldConfig.plist
EFI/OC/OpenCore.efi
EFI/OC/Resources/.DS_Store
EFI/OC/Resources/Audio/OCEFIAudio_VoiceOver_Boot.wav
EFI/OC/Resources/Font/Font_1x.bin
EFI/OC/Resources/Font/Font_1x.png
EFI/OC/Resources/Font/Font_2x.bin
EFI/OC/Resources/Font/Font_2x.png
EFI/OC/Resources/Image/.DS_Store
EFI/OC/Resources/Image/DalianSky/.DS_Store
EFI/OC/Resources/Image/DalianSky/GoldenGate/android.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Apple.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Apple11.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Apple12.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Apple13.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Apple14.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/AppleRecv.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/AppleTM.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Background.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/background.png
EFI/OC/Resources/Image/DalianSky/GoldenGate/background4k.png
EFI/OC/Resources/Image/DalianSky/GoldenGate/background_color.png
EFI/OC/Resources/Image/DalianSky/GoldenGate/BigSur.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/BtnFocus.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Cursor.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Dot.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Enter.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ExtApple.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ExtAppleRecv.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ExtAppleTM.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ExtHardDrive.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ExtLinux.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ExtOther.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ExtResetNVRAM.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ExtShell.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ExtTool.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ExtWindows.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/FirPE.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/HardDrive.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Left.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/linux.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Lock.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Monterey.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Other.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Password.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ResetNVRAM.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Restart.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Right.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Selected.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Selector.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/SetDefault.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Shell.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/ShutDown.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Sonoma.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Tool.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Ventura.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Windows.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/windows10.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Windows11.icns
EFI/OC/Resources/Image/DalianSky/GoldenGate/Windows7.icns
EFI/OC/Resources/Label/Apple.l2x
EFI/OC/Resources/Label/Apple.lbl
EFI/OC/Resources/Label/AppleRecv.l2x
EFI/OC/Resources/Label/AppleRecv.lbl
EFI/OC/Resources/Label/AppleTM.l2x
EFI/OC/Resources/Label/AppleTM.lbl
EFI/OC/Resources/Label/EFIBoot.l2x
EFI/OC/Resources/Label/EFIBoot.lbl
EFI/OC/Resources/Label/Other.l2x
EFI/OC/Resources/Label/Other.lbl
EFI/OC/Resources/Label/ResetNVRAM.l2x
EFI/OC/Resources/Label/ResetNVRAM.lbl
EFI/OC/Resources/Label/Shell.l2x
EFI/OC/Resources/Label/Shell.lbl
EFI/OC/Resources/Label/SIPDisabled.l2x
EFI/OC/Resources/Label/SIPDisabled.lbl
EFI/OC/Resources/Label/SIPEnabled.l2x
EFI/OC/Resources/Label/SIPEnabled.lbl
EFI/OC/Resources/Label/Tool.l2x
EFI/OC/Resources/Label/Tool.lbl
EFI/OC/Resources/Label/Windows.l2x
EFI/OC/Resources/Label/Windows.lbl
EFI/OC/Resources/png/AppleTM.png
EFI/OC/Resources/png/ExtAppleRecv.png
EFI/OC/Resources/png/ExtAppleTM.png
EFI/OC/Resources/png/ExtHardDrive.png
EFI/OC/Resources/png/ExtWindows 1.png
EFI/OC/Resources/png/ExtWindows 2.png
EFI/OC/Resources/png/ExtWindows.png
EFI/OC/Resources/png/mac.png
EFI/OC/Resources/png/nav.png
EFI/OC/Resources/png/shell.png
EFI/OC/Resources/png/time.png
EFI/OC/Resources/png/Tool.png
EFI/OC/Resources/png/win.png
EFI/OC/Resources/png/图标背景.png
EFI/OC/Resources/png/背景.png
EFI/OC/Resources/png/设置.png
EFI/OC/Tools/BootKicker.efi
EFI/OC/Tools/ChipTune.efi
EFI/OC/Tools/CleanNvram.efi
EFI/OC/Tools/ControlMsrE2.efi
EFI/OC/Tools/CsrUtil.efi
EFI/OC/Tools/FontTester.efi
EFI/OC/Tools/GopStop.efi
EFI/OC/Tools/KeyTester.efi
EFI/OC/Tools/MmapDump.efi
EFI/OC/Tools/modGRUBShell.efi
EFI/OC/Tools/OpenControl.efi
EFI/OC/Tools/OpenShell.efi
EFI/OC/Tools/ResetSystem.efi
EFI/OC/Tools/RtcRw.efi
EFI/OC/Tools/TpmInfo.efi
